.color-picker-wrapper {
    position: relative;
    display: inline-block;
}

.palette-icon {
    cursor: pointer;
}

.color-picker-wrapper:hover .color-options {
    display: flex;
}

.color-options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px; 
    height: 40px;
    margin-left: 10px;
}

.color-option {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

.color-option:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #fff;
}


.color-picker {
    margin-left: 10px;
    cursor: pointer;
    border: 1px;
    border-color: black;
    background: #333;
    padding: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.color-picker-wrapper {
    display: inline-block;
    position: relative;
}

.palette-icon {
    font-size: 24px;
    cursor: pointer;
}

.color-picker {
    appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    opacity: 0;
    cursor: pointer;
}

.color-close-button {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.color-close-button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}