.color-picker-wrapper {
    position: relative;
    display: inline-block;
}

.palette-icon {
    cursor: pointer;
}

.color-picker-wrapper:hover .color-options {
    display: flex;
}

.color-options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px; 
    height: 40px;
    margin-left: 10px;
}

.color-option {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
}

.color-option:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #fff;
}
