body {
    font-family: Arial, sans-serif;
    padding: 15px;
    width: 300px;
}

.color-picker {
    margin-left: 10px;
    cursor: pointer;
    border: none;
    padding: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    resize: vertical;
}

input[type=submit] {
    flex-grow: 1;
    padding: 14px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 4px;
}

    input[type=submit]:hover {
        opacity: 0.8;
    }

#saveSnippet {
    background-color: #0abd69;
    color: white;
}

    #saveSnippet:hover {
        background-color: rgb(7, 158, 88);
    }

#loadSnippets {
    background-color: #2196F3;
    color: white;
}

    #loadSnippets:hover {
        background-color: #0d8bf2;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        margin: 8px 0;
    }


    #snippetContainer {
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 0 10px;
        box-sizing: border-box;
        width: 100%;
    }

    #snippetContainer > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #dddddd;
        height: 30px;
        margin-bottom: 10px;
        padding: 0 10px;
        text-decoration: none;
        color: #333;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        cursor: pointer;
        border-radius: 15px;
    }
    
    #snippetContainer > div > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    
    #snippetContainer .material-icons {
        font-size: 18px;
        flex-shrink: 0;
        margin-left: 2px;
    }
    
    #snippetContainer > div:hover {
        background: #ccc;
    }

#parentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.copy-button, .delete-button, .edit-button, .apply-button, .favorite-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.copy-button:hover, .delete-button:hover, .edit-button:hover, .favorite-button:hover, .apply-button {
    background-color: #bdbbbb;
}

.edit-button.material-icons, .favorite-button.material-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
  }

.favorite-button {
    cursor: pointer;
}

.favorite-button.filled {
    color: black;
}

.snippet-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snippet-item input[type="text"] {
    border: none;
    background: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
    margin: 0;
    width: 100%;
    box-shadow: none;
    outline: none;
}

.snippet-item .snippet-content {
    flex-grow: 1;
    text-align: left;
}

.snippet-item .action-icons {
    display: flex;
}

.snippet-item.editing .action-button {
    display: none;
}

.action-button, .apply-button {
    cursor: pointer;
}

.action-buttons {
    /* padding: 0 10px; */
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.snippet-item.editing .apply-button {
    display: inline-flex;
}

/* Errors */
input[type="text"].input-error {
    border: 2px solid red;
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-4px); }
    20%, 40%, 60%, 80% { transform: translateX(4px); }
}

#errorMessage {
    color: red;
    font-weight: bold;
}

.checkmark-error {
    color: white;
    background-color: red;
    animation: shake 0.3s;
    animation-iteration-count: 1;
}
