body {
    font-family: Arial, sans-serif;
    padding: 15px;
    width: 300px;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    resize: vertical;
}

input[type=submit] {
    flex-grow: 1;
    padding: 14px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    margin: 0 4px;
}

    input[type=submit]:hover {
        opacity: 0.8;
    }

#saveSnippet {
    background-color: #0abd69;
    color: white;
}

    #saveSnippet:hover {
        background-color: rgb(7, 158, 88);
    }

#loadSnippets {
    background-color: #2196F3;
    color: white;
}

    #loadSnippets:hover {
        background-color: #0d8bf2;
    }

    .button-container {
        display: flex;
        justify-content: space-between;
        margin: 8px 0;
    }


    #snippetContainer {
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 0 10px;
        box-sizing: border-box;
        width: 100%;
    }

    #snippetContainer > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #dddddd;
        height: 30px;
        margin-bottom: 10px;
        padding: 0 10px;
        text-decoration: none;
        color: #333;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        cursor: pointer;
        border-radius: 15px;
    }
    
    #snippetContainer > div > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    
    #snippetContainer .material-icons {
        font-size: 18px;
        flex-shrink: 0;
        margin-left: 2px;
    }
    
    #snippetContainer > div:hover {
        background: #ccc;
    }

#parentContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

@keyframes shake {
    0%, 100% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
  }  

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
    20%, 40%, 60%, 80% { transform: translateX(5px); }
  }
  
  
.input-error {
    animation: shake 0.5s;
    animation-iteration-count: 1;
  }

input.input-error {
    border-color: red;
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

#errorMessage {
    color: red;
    font-weight: bold;
}

.apply-button.input-error {
    background-color: red;
    color: white;
  }
  

  .copy-button, .delete-button, .edit-button, .apply-button, .favorite-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.copy-button:hover, .delete-button:hover, .edit-button:hover, .favorite-button:hover, .apply-button {
    background-color: #bdbbbb;
}

.edit-button.material-icons, .favorite-button.material-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
  }

.editable {
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bdbbbb;
}

.editable .snippet-name {
    width: calc(100% - 120px);
    overflow: auto;
} 

.disabled-link {
    pointer-events: none;
    cursor: default;
    color: #000000;
  }
  
  .snippet-name {
    display: inline-block;
    padding: 10px 0;
  }

#settings{
    background-color: #868484;
    color: white;
    position: absolute;
    top: 10px;
    right: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    width: 63px;
    height: 25px;
}

#settings:hover{
    background-color: #757575;
}

.favorite-button {
    cursor: pointer;
}

.favorite-button.filled {
    color: black;
}

.snippet-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.snippet-item .snippet-content {
    flex-grow: 1;
    text-align: left;
}

.snippet-item .action-icons {
    display: flex;
}

/* Light mode */
.light-theme {
    background-color: #f3f3f3;
    color: #444444;
}

/* Dark mode */
.dark-theme {
    background-color: #333;
    color: #444444;
}

.dark-theme #header {
    color: #ffffff;
}

.dark-theme #snippetName{
    background-color: #b2b2b2;
    border: #4b4949;
}

.dark-theme #snippetContent{
    background-color: #b2b2b2;
    border: #4b4949;
}

.dark-theme #snippetContainer > div{
    background-color: #b2b2b2;
    color: black;
}

.dark-theme #snippetContainer > div:hover{
    background-color: #c0c0c0;
    color: black;
}


input::placeholder, textarea::placeholder {
    color: #909090;
    opacity: 1;
}

.dark-theme input::placeholder, .dark-theme textarea::placeholder {
    color: #2c2c2c;
}

.light-theme input::placeholder, .light-theme textarea::placeholder {
    color: #606060;
}